
    <div id = "search-section">
        <form action="/artist-search" method="GET">
            <input type="text" class="in-search" name="artistName">
            <button type="submit" class="but-search">Search for an Artist </button>
        </form>
    </div>
