
    <div id = "search-section">
        <form action="/artist-search" method="GET">
            <input type="search" class="in-search" id="name" name="name">
            <button type="submit" class="but-search">Search for an Artist </button>
        </form>
    </div>
