html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
section,
footer,
article,
details {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}


/* Basic styles, change according to your style */

@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto+Flex:opsz@8..144&display=swap");

body {
    font-family: "Roboto Flex", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
}

h1 {
    font-size: 6.5rem;
    color: white;
    margin-bottom: 5vw;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    margin-top: 2vw;
    font-weight: 600;
    text-align: center;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

.backBtn {
    display: flex;
    padding: 1vh 2vw;
    background-color: indianred;
    color: white;
    border: none;
    font-size: 1.2rem;
    margin: 3vh auto;
}


/* -------------Index.hbs-------------*/

main{
    background-image: url("/images/spotify-background.jpeg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#search-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.5vh 15vw;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
}

input.in-search {
    width: 500px;
    margin: 2vh auto;
    padding: 1vh 1vw;
    font-size: 1.1rem;
}

button.but-search, #artist-results a {
    padding: 1vh 2vw;
    background-color: indianred;
    color: white;
    border: none;
    font-size: 1.2rem;
    margin: 1vh auto 5vh;
}

/* -------------artist-search.hbs-------------*/

#grid-3-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#artist-results {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 4vh 2vw;
    width: 500px;
    background-color: #333;
    justify-content: flex-end;
}


#artist-results h3 {
    padding: 3vh 1vw;
    color: white;
}


img.artist-img {
    max-width: 500px;
    width: 500px;
} 

/* -------------tracks.hbs-------------*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
    align-items: center;
    color: grey;
    padding: 2vh 10vw 5vh 3vw;
}

.track {
    display: flex;
    flex-direction: row;
    background-color: #999;
    padding: 1vh 2vw;
    margin: 2vh 0;
    justify-content: space-between;
    align-items: center;
}